.main-loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fetching-loader {
    text-align: center;
    padding: 15% 0;
}

.fetching-loader h1 {
    margin-top: 20px;
}